.h4 {
    color: white;
    background: orangered;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-right: 800px;
    padding-left: 30px;
    text-align: left;
}

.saldo {
    width: 200px;
    height: 200px;
    color: orangered;
    padding-left: 100px;
    padding-top: 100px;
    float: left;
}

.coluna {
    width: 100px;
    height: 200px;
    color: gray;
    float: left;
    text-align: center;
    padding-right: 50px;
    padding-top: 80px;
    padding-left: 70px;
}

.borders {
    border-style: solid;
    border-width: 30px;
    border-color: orangered;
}

* {
    margin: 0;
    padding: 0;
}